.container{
    padding: 50px;
    text-align: center;
    height: 500px;
}

h2{
    margin:40px
}

.btn{
    width:130px;
    margin:20px ;
}
.p{
 font-weight: bold;
 font-size: 20px;

}

.red {
    color: white;
    background-color: red;
}

.green {
    color: white;
    background-color: green;
}

.blue {
    color: white;
    background-color: blue;
}